/*
Kclient 2.0 CSS
Made By: NizzQ
*/

/*Background */
.pattern-bg {
	background: url(https://media.discordapp.net/attachments/529192409305710602/902459779144900628/FcQshr.png?width=1168&height=657) !important;
    	width: 100%;
}

/*
Another BG: https://media.discordapp.net/attachments/529192409305710602/902443840387026944/oriental-tiles.png
			https://media.discordapp.net/attachments/529192409305710602/902459294367219712/papers.png?width=1051&height=657
*/

.bg-radial {
	display: none;
}

/* Lobby */
.promo-link-btn, .logo, .soc-group[data-v-3c44abf2] {
	display: none !important;
}

.systems {
	margin-left: 5% !important;
}

.moneys {
	position: fixed;
	right: unset;
	left: 83% !important;
}

.left-icons:after {
	position: absolute;
    display: inline-block;
    content: url(https://media.discordapp.net/attachments/529192409305710602/903106075795030126/arrow2.png);
    top: 80px;
    left: -20px;
    transition: ease-in-out 0.3s;
    border-radius: 360px;
}

.left-icons .icon-btn {
	display: block;
    position: absolute;
	background-color: transparent !important;
	border: transparent !important;
	box-shadow: 0px 0px transparent !important;
    transition: ease-in-out 0.2s;
    right: 68%;
    top: 47%;
    opacity: 0;
}

.left-icons:hover .icon-btn:nth-child(1) {
    margin-top: 120px;
    margin-right: -1px;
}

.left-icons:hover .icon-btn:nth-child(2) {
    margin-top: 220px;
    margin-right: -1px;
}

.left-icons:hover .icon-btn:nth-child(3) {
    margin-top: 320px;
    margin-right: -1px;
}

.left-icons:hover .icon-btn:nth-child(4) {
    margin-top: 420px;
    margin-right: -1px;
}

.left-icons:hover .icon-btn {
    opacity: 1 !important;
}

.right-icons {
    background-color:transparent !important;
	transform:translateX(90%);
    flex-direction:column;
}

.right-icons .inventory-card {
	-webkit-transform:translateX(-38px);
    transform:translateX(-38px);
	transition: ease-in-out 0.4s;
}

.inventory-card:hover {
    transform: translateX(-140px);
}

.right-icons .icon-btn {
	display: block;
	position: absolute;
	right: 22%;
	top: 132%;
	width: 100%;
	opacity: 1;
	transition: ease-in-out 0.4s;
}

.right-icons .icon-btn:hover {
	transform: translateX(-100px);
}

.right-icons .svg-icon[data-v-b8de1e14] {
	margin-left: -98%;
	margin-bottom: -30%;
}

.right-icons .text-icon {
	margin-right: -30%;
	margin-top: 9%;
}

/* HUD */
.info-key-cont, .list-weapons, .mWwn, .instruction, .mini-map-cont {
	display: none !important;
}

/* Profile */
.profile .avatar-info, .exp-values, .level {
	display: none !important;
}

.user-info {
	visibility: hidden;
}

.progress-lvl {
	visibility: visible;
	margin-right: -390%;
	margin-top: -10% !important;
}

/* Timer and Score */
.timer{
	position: fixed;
	right: 783px;
}

.team-score .label {
	margin: 26.5px;
	margin-left: 60px;
	margin-right: 60px;
}
